@font-face {
    font-family: airstream;
    src: url(fonts/Airstream-webfont.svg);
    src: url(fonts/Airstream-webfont.woff);
}
@font-face {
    font-family: lakeshor;
    src: url(fonts/LAKESHOR-webfont.svg);
    src: url(fonts/LAKESHOR-webfont.woff);
}

html {
    height: 100%;
}

body {
    --thumnails-image-width: 25vw;
    --thumbnails-image-width: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-title-height)*0.33);
     --details-image-width:60vw;
    --details-image-height:50vw; 
}

body {
    height: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin:0;
}
.logo {

    display: block;
    text-align: center;
    background-color: azure;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: lakeshor;
}
     
.h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.main-class {
display: flex ;
flex-direction:column;
justify-content: center;
flex-grow: 1;
}
.details-container {
display: flex ;
flex-direction: column;
align-items: center;
margin-bottom: 2vh;
/*position: relative;*/

}

.details-frame {
    position: relative;
}


.details-image {
width: var(--details-image-width);
height: var(--details-image-height);
border-radius: 25%;
}    

.details-title {
display: block;
background-color: blanchedalmond;
position: absolute;
font: size 2em; airstream;
font-style: italic;
bottom: 3.5vh;
left: -2vw;
/*bottom: 50%vh;
left: 50%vw; tohka sentr*/

}
 
.thumbnails-list {
display: flex;
flex-wrap: wrap;
max-height: 20vh;
overflow-y: scroll;
list-style: none;
justify-content: space-around;
padding-left: 0;
margin-top: 3vh;
}

.thumbnails-item {
border: solid  2px blueviolet;
margin-top: 2vh; 
border-radius: 25%;
overflow: hidden;
min-height:calc(var(--thumnails-image-height) + var (--thumbnails-title-height));
min-width:var(--thumbnails-image-width);
max-width: var(--thumbnails-image-width);
margin-left:1vw;
}

.thumbnails-item:hover {
    transform: scale(1.1);
    /*margin-left:1vw;*/

}




.thumbnails-anchor {
text-decoration: none;
}

.thumbnails-image {
    width: var(--thumnails-image-width);
    height: var(--thumnails-image-height);
    display: block;
}

.thumbnails-title {
display: block;
text-align: center;
background-color:greenyellow;
color: cadetblue;
height: var(--thumbnails-title-height);
}

@media (min-width: 560px) {
    body {
        --thumnails-image-width: 12vw;
        --thumbnails-image-width: 8vw;
        --thumbnails-title-height: calc(var(--thumbnails-title-height)*0.25);
         --details-image-width:45vw;
        --details-image-height:35vw; 
    }
.logo {
    font-size: 1em;
   }

.main-class {
    flex-direction: row;
    justify-content: space-around;
}
/*.details-title {
bottom: 6vh;
left: -2vw;
dobavlyu konteiner


}


/*.details-image {
    width: 45vw;
    height: 35vw;

}*/

.details-container {
    justify-content: center;
    margin-bottom: 0;
}
.thumbnails-list {  
    order: -1;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 135vh;
    justify-content:flex-start ;
    padding-right: 2vw;
}
/*
.thumbnails-item {
    min-height: 10vh; 
}

.thumbnails-image{
    width: 15vw;
    height: 45vw;
}
.thumbnails-title{
    height: 2vw;

}*/

}

@media (min-width: 1000px) {
.details-container {
    margin-top: 5vh;
    margin-right: 5vw;
}
/*.details-image {
    width: 45vw;
    height: 35vw;
}*/

.thumbnails-list {
   
    margin-top: 2.5vh;
    max-height: 150vh;
}
.thumbnails-title {
    font-size: 1.5em;
}
    }